# Ignore nested git repositories.
/blockly/
/closure-library-read-only/
/JS-Interpreter/

# Ignore generated Unity files.
/unity/Library/
/unity/Temp/
/unity/*.sln
/unity/*.csproj
/unity/*.userprefs
/unity/*.pidb

# Ignore test builds folder.
/builds/
